<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5ebdb2;">
    <a class="navbar-brand" href="#"><img src="../../assets/logo2.png" width="100px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/requisitos']">Requisitos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/preguntas']">Preguntas Frecuentes</a>
        </li>
        <li class="nav-item active" *ngIf="this.bandera1" >
          <a *ngIf="this.tipouser == 'Administrador'" class="nav-link" [routerLink]="['/perfil']">Perfil</a>
          <a *ngIf="this.tipouser == 'Empleado'" class="nav-link" [routerLink]="['/menuempleado']">Perfil</a>
          <a *ngIf="this.tipouser == 'UsrInteresado'" class="nav-link" [routerLink]="['/menuUsr']">Perfil</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0" *ngIf="!this.bandera1">
        <button type="button" data-toggle="modal" data-target="#logIn" class="btn btn-lg" style="background-color: #e47c5d; color: white;"> Iniciar Sesión </button>
      </div>
      <div class="form-inline my-2 my-lg-0" *ngIf="this.bandera1">
        <button (click)="cerrar()" [routerLink]="['/inicio']" type="button" data-target="#logIn" class="btn btn-lg" style="background-color: #e47c5d; color: white;"> Cerrar Sesión </button>
      </div>
    </div>
  </nav>
  
  <div class="d-flex" style="background-color: #142b3b; color: #142b3b;">,</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="logIn" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="background-color:  rgb(245, 251, 255);">
      <div class="modal-header"  style="background-color: #142b3b">
        <h1 class="modal-title text-white" id="exampleModal3Label"> <b> Iniciar sesion</b></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="usr">Correo Electronico</label>
        <input #usr placeholder="ejemplo@hotmail.com" class="form-control" type="email" id="usr" style="background-color: rgb(245, 251, 255) ;">
        
        <label for="contra">Contraseña</label>
        <input #pass type="password" class="form-control" id="contra" style="background-color: rgb(245, 251, 255) ;" >

      </div>
      <div style="text-align: center;">
        <button type="button" (click)="iniciar(usr.value, pass.value)" class="btn text-white " style="background-color: #e47c5d" data-dismiss="modal" >Iniciar Sesión </button> <br>
        <button [routerLink]="['/registrar']" type="button" class="btn" style="color: #5ebdb2;" data-dismiss="modal"> <small>Registrate ahora</small></button>
      </div>
    </div>
  </div>
</div>

  
