<div class="container" style="margin-top: 20px;" class="card m-3" style="background-color: rgb(244, 245, 250);">
    
    <div class="card-body">
        
        <div class="row" style="margin-top: 20px;">
            <div class="col-1"></div>
            <div class="col-1"><button type="button" class="btn btn-lg" style="background-color: #e47c5d; color: white;" [routerLink]="['/menuUsr']"><i class="fas fa-undo-alt"></i> </button>
            </div>
            <div class="col-5"><h1 style="color: #e47c5d; margin-left: 0px;">Estado de solicitud</h1></div>
            <div class="col-5"></div>
        </div>
        <div *ngIf="this.tiene == false">
        <div class="row" style="margin-top: 20px;" *ngIf="!nuevaS">
            <div class="col-2"></div>
            <div class="col-5"><span class="text-secondary">No se encontro solicitud</span>
            <button type="button" class="btn btn-link btn-sm" (click)="nuevaS = true" style="color: #5ebdb2;"> ¿Desea comenzar una solicitud? </button>
            </div>
            <div class="col-5"></div>
        </div>

        <div class="row" *ngIf="nuevaS" style="margin-top: 20px;">
            <div class="col"></div>
            <div class="col-10">
              <form  [formGroup]="forma" (ngSubmit)="guardarCambios()"  >

                <div class="container">
                 <div class="row mt-5">
                   <div class="col-12">
                    <div class="col-12"><h1 style="color: #e47c5d; margin-left: 0px;">Realizar solicitud</h1></div>
                    <hr>
                    <div class="col-12 text-center"><img width="70%" height="70%" src="../../assets/familia.jpg" alt=""></div>
                      <br><br>
                    <div class="col-12 text-center">La gente cree que la paciencia es pasiva, y no es así. La paciencia es activa. Es fuerza concentrada.

                      La paciencia es el arte de tener esperanza.
                      
                      Alguien que tiene paciencia puede tener cualquier cosa que se proponga.</div>
                      <br><br> <br>
                    
                 
                 <div class="form-group row">
                  <label class="col-2 col-form-label">&nbsp;</label>
                  <div class="input-group col-md-8">
                    <button type="submit" class="btn btn-outline-primary"  >
                      Crear solicitud
                    </button>
                  </div>
                </div>
                </div>
              </div>
              </div>
              </form>
            </div>
            <div class="col"></div>
            
        </div>
      </div>
      <div class="row" *ngIf="this.tiene == true" style="margin-top: 20px;">
        <div class="col"></div>
        <div class="col-10">
          <table class="table table-hover" style="text-align: center;">
            <thead class="thead-light">
              <tr>
                <th>ID solicitud</th>
                <th>Fecha de solicitud</th>
                <th>Estado de la solicitud</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of contenido">
                <th scope="row">{{ item.id_solicitud}}</th>
                <td>{{ item.fecha | date}}</td>
                <td>{{item.estado}}</td>
           
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
        
    </div>
    </div>
 
    
  </div>

