<div style="color: white; background-color: #142b3b;padding: 30px; margin-top: 25px;">
   <div class="row">
       
       <div class="col-1"><img src="../../assets/img.jpg" width="100px" alt=""></div>
       <div class="col-4">
           <h4 style="color: #e47c5d;">C O N T A C T A N O S</h4>
           <p> <small> <i class="fas fa-map-marker-alt" style="color: #5ebdb2;"></i> Av. de los Maestros,
             Col. España, C.P. 20210 Aguascalientes, Ags. <br>
             <i class="fas fa-phone" style="color: #5ebdb2;" ></i> 449 910 25 85 <br>
             <i class="fas fa-envelope" style="color: #5ebdb2;"></i> sedif.aguascalientes@aguascalientes.gob.mx
            </small></p>
        </div>
        <div class="col-5"></div>
        <div class="col-2">
            <div class="row">
                <div class="col"> <a href="https://www.google.com.mx/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjW2qb_qJ_tAhULCKwKHU-kA2EQFjAGegQIARAC&url=https%3A%2F%2Fes-la.facebook.com%2FDIFAguascalientes%2F&usg=AOvVaw0zk5QjhWKGpWUg73dHNGNJ"><i class="fab fa-facebook-square fa-3x"></i></a> </div>
                <div class="col"> <i class="fas fa-envelope-square fa-3x"></i> </div>
                <div class="col"> <i class="fas fa-address-book fa-3x"></i> </div>   
            </div>
        </div>
   </div>
    
</div>
