<div class="container">
    <h1 style="color: #e47c5d;">REQUISITOS</h1>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header" style="background-color: #142b3b ; color: white;">
                  <h4>Requisitos para adoptar</h4>
                </div>
                <div class="card-body">
                    <p class="card-text"> <b><i class="fas fa-arrow-circle-right"></i></b> Ser mayor de 25 años, la pareja deberá estar conforme en considerar 
                        al adoptado como hijo propio.</p>
                    <p class="card-text"> <b><i class="fas fa-arrow-circle-right"></i></b> Tener medios suficientes 
                        para proveer de lo necesario para la subsistencia y educación.</p>
                    <p class="card-text"> <b><i class="fas fa-arrow-circle-right"></i></b> Tener medios suficientes para proveer de lo necesario para la subsistencia y educación.
                        Integrar un expediente con todos los documentos requeridos.</p>
                    <p class="card-text"> <b><i class="fas fa-arrow-circle-right"></i></b> Tener buena salud.</p>
                    <p class="card-text"> <b><i class="fas fa-arrow-circle-right"></i></b> Si el menor que se va a adoptar es mayor de 12 años, 
                        también se requiere de su consentimiento.</p>
                    
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header" style="background-color:   #142b3b ; color: white;">
                  <h4>Proceso para adoptar</h4>
                </div>
                <div class="card-body">
                  <p class="card-text"> <b><i class="fas fa-arrow-circle-right"></i>  Procedimiento Administrativo:</b>  Asistir a una entrevista al área de Trabajo 
                      Social de los Centros Nacionales Modelo de Atención, Investigación y Capacitación (CNMAIC)</p>
                  <p class="card-text"><b> <i class="fas fa-arrow-circle-right"></i>  Procedimiento Judicial:</b>  Se tramita ante el Juez de lo Familiar en turno del Tribunal Superior de 
                    Justicia del Distrito Federal, a través de las Diligencias de Jurisdicción Voluntaria de Adopción.</p>
                    <p class="card-text"> <b><i class="fas fa-arrow-circle-right"></i>  Procedimiento Post-Adoptivos:</b>  Las autoridades estarán obligadas a dar “seguimiento a la convivencia y proceso de adaptación,
                         a través de un informe semestral por un periodo de 3 años hasta que el menor cumpla 16 años de edad</p>    
                </div>
              </div>
        </div>
    </div>
    
</div>

