<div class="container" style="margin-top: 20px;" class="card m-3" style="background-color: rgb(244, 245, 250);">
  <div class="card-body">
    <div class="row" style="margin-top: 20px;">
      <div class="col-1"><button type="button" class="btn btn-lg" style="background-color: #e47c5d; color: white;" [routerLink]="['/menuempleado']"><i class="fas fa-undo-alt"></i> </button>
      </div>
      <div class="col-4"><h1 style="color: #e47c5d;"> <b> Solicitudes por aceptar / degenar </b> </h1></div> 
      <div class="col"></div>
  </div>
  <hr>
  </div>
  <div class="row mb-5">
    <div class="col"></div>
    <div class="col-10">
      <div class="row">
        <div class="col-3" *ngFor="let item of solicitudes">
          <div class="card text-left hov">
            <div class="card-body">
              <div class="card-title" style="text-align: center;"> <b> ID: {{ item.id_solicitud }} </b></div>
              <hr>
              <div class="card-title">Estado: {{ item.estado }}</div>
              <div class="card-title">Fecha solicitud: {{ item.fecha | date }}</div>
              <div class="card-title">Datos del posible adoptante</div>
              <div class="card-title">Id adoptante {{item.id_usuario}}</div>
              <div class="card-title">Nombre: {{item.nom_usuario}}</div>
              <div class="card-title">Apellido Paterno: {{item.ape_puser}}</div>
              <div class="card-title">Apellido Materno: {{item.ape_musr}}</div>
              <div class="card-title">Numero celular: {{item.cel_usr}}</div>
              <div class="align-content-between" style="text-align: center;"*ngIf="item.estado == 'Enviada'">
                <input #resultado type="text" class="form-control" placeholder="Ingresa el nuevo estado de solicitud">
                <br>
                <input #resultado2 type="text" class="form-control" placeholder="ID posible adoptado">
                <br>
                <button (click)="ActualizarSoli(resultado.value,resultado2.value,item.id_solicitud)" type="button" class="btn btn-success">Aceptar</button>
          
                  <!--
                <a (click)="editarProducto(item)" class="btn btn-primary text-light m-1"><i class="fa fa-pencil"></i></a>
                <a (click)="borrarProducto(item.id)" class="btn btn-danger btn-sm text-light m-1">
                  <mat-icon>delete</mat-icon>
                </a>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <hr>
  <div class="col-4"><h1 style="color: #e47c5d;"> <b> Lista de infantes </b> </h1></div> 
  <div class="row ml-4">
    <div class="col-3 m-2" style="max-width: 18rem;" *ngFor="let item of infantes">
     <div class="card text-center hov" >
         <div class="card-header bg-transparent border-success"> <b> ID: {{ item.id_infante }} </b></div>
         <div class="card-body">
           <h5 class="card-title">Nombre infante: {{ item.nom_in }}</h5>
         </div>
         <div class="card-footer border-success" style="background-color:rgb(209, 213, 236);">Estado: <b> {{ item.est_adop}} </b></div>
       
   </div>
 </div>
</div>
  </div>
